<div>
    <h2 id="page-heading">
        <span jhiTranslate="zeemonApp.eventTrigger.home.title">Event Triggers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event-trigger" [routerLink]="['/event-trigger/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="zeemonApp.eventTrigger.home.createLabel">
            Create a new Event Trigger
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="eventTriggers?.length === 0">
        <span jhiTranslate="zeemonApp.eventTrigger.home.notFound">No eventTriggers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="eventTriggers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="triggerName"><span jhiTranslate="zeemonApp.eventTrigger.triggerName">Trigger Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="triggerType"><span jhiTranslate="zeemonApp.eventTrigger.triggerType">Trigger Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="triggerPeriod"><span jhiTranslate="zeemonApp.eventTrigger.triggerPeriod">Trigger Period</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="triggerTimeUnit"><span jhiTranslate="zeemonApp.eventTrigger.triggerTimeUnit">Trigger Time Unit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="triggerCronExpression"><span jhiTranslate="zeemonApp.eventTrigger.triggerCronExpression">Trigger Cron Expression</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="triggerCronTimeZone"><span jhiTranslate="zeemonApp.eventTrigger.triggerCronTimeZone">Trigger Cron Time Zone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eventTrigger of eventTriggers ;trackBy: trackId">
                    <td><a [routerLink]="['/event-trigger', eventTrigger.id, 'view']">{{ eventTrigger.id }}</a></td>
                    <td>{{ eventTrigger.triggerName }}</td>
                    <td jhiTranslate="{{ 'zeemonApp.TriggerType.' + eventTrigger.triggerType }}">{{ eventTrigger.triggerType }}</td>
                    <td>{{ eventTrigger.triggerPeriod }}</td>
                    <td jhiTranslate="{{ 'zeemonApp.TimeUnit.' + eventTrigger.triggerTimeUnit }}">{{ eventTrigger.triggerTimeUnit }}</td>
                    <td>{{ eventTrigger.triggerCronExpression }}</td>
                    <td>{{ eventTrigger.triggerCronTimeZone }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/event-trigger', eventTrigger.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/event-trigger', eventTrigger.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(eventTrigger)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="eventTriggers?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
