<div>
    <h2 id="page-heading">
        <span jhiTranslate="zeemonApp.endpoint.home.title">Endpoints</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-endpoint" [routerLink]="['/endpoint/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="zeemonApp.endpoint.home.createLabel">
            Create a new Endpoint
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="endpoints?.length === 0">
        <span jhiTranslate="zeemonApp.endpoint.home.notFound">No endpoints found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="endpoints?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endpointName"><span jhiTranslate="zeemonApp.endpoint.endpointName">Endpoint Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endpointInstanceId"><span jhiTranslate="zeemonApp.endpoint.endpointInstanceId">Endpoint Instance Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endpointType"><span jhiTranslate="zeemonApp.endpoint.endpointType">Endpoint Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endpointSpec"><span jhiTranslate="zeemonApp.endpoint.endpointSpec">Endpoint Spec</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endpointDescription"><span jhiTranslate="zeemonApp.endpoint.endpointDescription">Endpoint Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let endpoint of endpoints ;trackBy: trackId">
                    <td><a [routerLink]="['/endpoint', endpoint.id, 'view']">{{ endpoint.id }}</a></td>
                    <td>{{ endpoint.endpointName }}</td>
                    <td>{{ endpoint.endpointInstanceId }}</td>
                    <td jhiTranslate="{{ 'zeemonApp.EndpointType.' + endpoint.endpointType }}">{{ endpoint.endpointType }}</td>
                    <td jhiTranslate="{{ 'zeemonApp.EndpointSpec.' + endpoint.endpointSpec }}">{{ endpoint.endpointSpec }}</td>
                    <td>{{ endpoint.endpointDescription }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/endpoint', endpoint.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/endpoint', endpoint.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(endpoint)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="endpoints?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
