<div>
    <h2 id="page-heading">
        <span jhiTranslate="zeemonApp.task.home.title">Tasks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-task" [routerLink]="['/task/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="zeemonApp.task.home.createLabel">
            Create a new Task
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tasks?.length === 0">
        <span jhiTranslate="zeemonApp.task.home.notFound">No tasks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tasks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="taskName"><span jhiTranslate="zeemonApp.task.taskName">Task Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="taskDescription"><span jhiTranslate="zeemonApp.task.taskDescription">Task Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nextExecutionStartTime"><span jhiTranslate="zeemonApp.task.nextExecutionStartTime">Next Execution Start Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="taskState"><span jhiTranslate="zeemonApp.task.taskState">Task State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agent.agentName"><span jhiTranslate="zeemonApp.task.agent">Agent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="checkScript.scriptName"><span jhiTranslate="zeemonApp.task.checkScript">Check Script</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="flow.flowName"><span jhiTranslate="zeemonApp.task.flow">Flow</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks ;trackBy: trackId">
                    <td><a [routerLink]="['/task', task.id, 'view']">{{ task.id }}</a></td>
                    <td>{{ task.taskName }}</td>
                    <td>{{ task.taskDescription }}</td>
                    <td>{{ task.nextExecutionStartTime | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'zeemonApp.TaskState.' + task.taskState }}">{{ task.taskState }}</td>
                    <td>
                        <div *ngIf="task.agent">
                            <a [routerLink]="['/agent', task.agent?.id, 'view']" >{{ task.agent?.agentName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="task.checkScript">
                            <a [routerLink]="['/check-script', task.checkScript?.id, 'view']" >{{ task.checkScript?.scriptName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="task.flow">
                            <a [routerLink]="['/flow', task.flow?.id, 'view']" >{{ task.flow?.flowName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/task', task.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/task', task.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(task)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tasks?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
