<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-flow-heading" jhiTranslate="zeemonApp.flow.home.createOrEditLabel">Create or edit a Flow</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.flow.flowName" for="field_flowName">Flow Name</label>
                    <input type="text" class="form-control" name="flowName" id="field_flowName"
                           formControlName="flowName"/>
                    <div *ngIf="editForm.get('flowName')!.invalid && (editForm.get('flowName')!.dirty || editForm.get('flowName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('flowName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('flowName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.flow.flowDescription" for="field_flowDescription">Flow Description</label>
                    <input type="text" class="form-control" name="flowDescription" id="field_flowDescription"
                           formControlName="flowDescription"/>
                    <div *ngIf="editForm.get('flowDescription')!.invalid && (editForm.get('flowDescription')!.dirty || editForm.get('flowDescription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('flowDescription')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.flow.nextExecutionStartTime" for="field_nextExecutionStartTime">Next Execution Start Time</label>
                    <div class="d-flex">
                        <input id="field_nextExecutionStartTime" type="datetime-local" class="form-control" name="nextExecutionStartTime" formControlName="nextExecutionStartTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.flow.flowState" for="field_flowState">Flow State</label>
                    <select class="form-control" name="flowState" formControlName="flowState" id="field_flowState">
                        <option value="PENDING">{{ 'zeemonApp.FlowState.PENDING' | translate }}</option>
                        <option value="PAUSED">{{ 'zeemonApp.FlowState.PAUSED' | translate }}</option>
                        <option value="PROCESSING">{{ 'zeemonApp.FlowState.PROCESSING' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('flowState')!.invalid && (editForm.get('flowState')!.dirty || editForm.get('flowState')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('flowState')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.flow.eventTrigger" for="field_eventTrigger">Event Trigger</label>
                    <select class="form-control" id="field_eventTrigger" name="eventTrigger" formControlName="eventTrigger">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="eventTriggerOption.id === editForm.get('eventTrigger')!.value?.id ? editForm.get('eventTrigger')!.value : eventTriggerOption" *ngFor="let eventTriggerOption of eventtriggers; trackBy: trackById">{{ eventTriggerOption.triggerName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
