<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-check-script-heading" jhiTranslate="zeemonApp.checkScript.home.createOrEditLabel">Create or edit a Check Script</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.checkScript.scriptName" for="field_scriptName">Script Name</label>
                    <input type="text" class="form-control" name="scriptName" id="field_scriptName"
                           formControlName="scriptName"/>
                    <div *ngIf="editForm.get('scriptName')!.invalid && (editForm.get('scriptName')!.dirty || editForm.get('scriptName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scriptName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scriptName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.checkScript.scriptType" for="field_scriptType">Script Type</label>
                    <select class="form-control" name="scriptType" formControlName="scriptType" id="field_scriptType">
                        <option value="SQL_SCRIPT">{{ 'zeemonApp.ScriptType.SQL_SCRIPT' | translate }}</option>
                        <option value="SHELL_SCRIPT">{{ 'zeemonApp.ScriptType.SHELL_SCRIPT' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('scriptType')!.invalid && (editForm.get('scriptType')!.dirty || editForm.get('scriptType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scriptType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.checkScript.scriptSource" for="field_scriptSource">Script Source</label>
                    <input type="text" class="form-control" name="scriptSource" id="field_scriptSource"
                           formControlName="scriptSource"/>
                    <div *ngIf="editForm.get('scriptSource')!.invalid && (editForm.get('scriptSource')!.dirty || editForm.get('scriptSource')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scriptSource')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2048 }">
                        This field cannot be longer than 2048 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.checkScript.actionRuleExpression" for="field_actionRuleExpression">Action Rule Expression</label>
                    <input type="text" class="form-control" name="actionRuleExpression" id="field_actionRuleExpression"
                           formControlName="actionRuleExpression"/>
                    <div *ngIf="editForm.get('actionRuleExpression')!.invalid && (editForm.get('actionRuleExpression')!.dirty || editForm.get('actionRuleExpression')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('actionRuleExpression')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2048 }">
                        This field cannot be longer than 2048 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.checkScript.endpoint" for="field_endpoint">Endpoint</label>
                    <select class="form-control" id="field_endpoint" name="endpoint" formControlName="endpoint">
                        <option *ngIf="!editForm.get('endpoint')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="endpointOption.id === editForm.get('endpoint')!.value?.id ? editForm.get('endpoint')!.value : endpointOption" *ngFor="let endpointOption of endpoints; trackBy: trackById">{{ endpointOption.endpointName }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('endpoint')!.invalid && (editForm.get('endpoint')!.dirty || editForm.get('endpoint')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('endpoint')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zeemonApp.checkScript.contentMapper" for="field_contentMapper">Content Mapper</label>
                    <select class="form-control" id="field_contentMapper" name="contentMapper" formControlName="contentMapper">
                        <option *ngIf="!editForm.get('contentMapper')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="contentMapperOption.id === editForm.get('contentMapper')!.value?.id ? editForm.get('contentMapper')!.value : contentMapperOption" *ngFor="let contentMapperOption of contentmappers; trackBy: trackById">{{ contentMapperOption.mapperName }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('contentMapper')!.invalid && (editForm.get('contentMapper')!.dirty || editForm.get('contentMapper')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('contentMapper')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
