<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="content">
            <h2><span jhiTranslate="zeemonApp.content.detail.title">Content</span> {{ content.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="zeemonApp.content.sourceIndex">Source Index</span></dt>
                <dd>
                    <span>{{ content.sourceIndex }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt1">Txt 1</span></dt>
                <dd>
                    <span>{{ content.txt1 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt2">Txt 2</span></dt>
                <dd>
                    <span>{{ content.txt2 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt3">Txt 3</span></dt>
                <dd>
                    <span>{{ content.txt3 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt4">Txt 4</span></dt>
                <dd>
                    <span>{{ content.txt4 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt5">Txt 5</span></dt>
                <dd>
                    <span>{{ content.txt5 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt6">Txt 6</span></dt>
                <dd>
                    <span>{{ content.txt6 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt7">Txt 7</span></dt>
                <dd>
                    <span>{{ content.txt7 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt8">Txt 8</span></dt>
                <dd>
                    <span>{{ content.txt8 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt9">Txt 9</span></dt>
                <dd>
                    <span>{{ content.txt9 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt10">Txt 10</span></dt>
                <dd>
                    <span>{{ content.txt10 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt11">Txt 11</span></dt>
                <dd>
                    <span>{{ content.txt11 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt12">Txt 12</span></dt>
                <dd>
                    <span>{{ content.txt12 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt13">Txt 13</span></dt>
                <dd>
                    <span>{{ content.txt13 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt14">Txt 14</span></dt>
                <dd>
                    <span>{{ content.txt14 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt15">Txt 15</span></dt>
                <dd>
                    <span>{{ content.txt15 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt16">Txt 16</span></dt>
                <dd>
                    <span>{{ content.txt16 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt17">Txt 17</span></dt>
                <dd>
                    <span>{{ content.txt17 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt18">Txt 18</span></dt>
                <dd>
                    <span>{{ content.txt18 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt19">Txt 19</span></dt>
                <dd>
                    <span>{{ content.txt19 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.txt20">Txt 20</span></dt>
                <dd>
                    <span>{{ content.txt20 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num1">Num 1</span></dt>
                <dd>
                    <span>{{ content.num1 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num2">Num 2</span></dt>
                <dd>
                    <span>{{ content.num2 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num3">Num 3</span></dt>
                <dd>
                    <span>{{ content.num3 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num4">Num 4</span></dt>
                <dd>
                    <span>{{ content.num4 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num5">Num 5</span></dt>
                <dd>
                    <span>{{ content.num5 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num6">Num 6</span></dt>
                <dd>
                    <span>{{ content.num6 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num7">Num 7</span></dt>
                <dd>
                    <span>{{ content.num7 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num8">Num 8</span></dt>
                <dd>
                    <span>{{ content.num8 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num9">Num 9</span></dt>
                <dd>
                    <span>{{ content.num9 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num10">Num 10</span></dt>
                <dd>
                    <span>{{ content.num10 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num11">Num 11</span></dt>
                <dd>
                    <span>{{ content.num11 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num12">Num 12</span></dt>
                <dd>
                    <span>{{ content.num12 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num13">Num 13</span></dt>
                <dd>
                    <span>{{ content.num13 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num14">Num 14</span></dt>
                <dd>
                    <span>{{ content.num14 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num15">Num 15</span></dt>
                <dd>
                    <span>{{ content.num15 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num16">Num 16</span></dt>
                <dd>
                    <span>{{ content.num16 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num17">Num 17</span></dt>
                <dd>
                    <span>{{ content.num17 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num18">Num 18</span></dt>
                <dd>
                    <span>{{ content.num18 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num19">Num 19</span></dt>
                <dd>
                    <span>{{ content.num19 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.num20">Num 20</span></dt>
                <dd>
                    <span>{{ content.num20 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.date1">Date 1</span></dt>
                <dd>
                    <span>{{ content.date1 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.date2">Date 2</span></dt>
                <dd>
                    <span>{{ content.date2 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.date3">Date 3</span></dt>
                <dd>
                    <span>{{ content.date3 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.date4">Date 4</span></dt>
                <dd>
                    <span>{{ content.date4 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.date5">Date 5</span></dt>
                <dd>
                    <span>{{ content.date5 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.date6">Date 6</span></dt>
                <dd>
                    <span>{{ content.date6 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.date7">Date 7</span></dt>
                <dd>
                    <span>{{ content.date7 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.date8">Date 8</span></dt>
                <dd>
                    <span>{{ content.date8 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.date9">Date 9</span></dt>
                <dd>
                    <span>{{ content.date9 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.date10">Date 10</span></dt>
                <dd>
                    <span>{{ content.date10 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.bool1">Bool 1</span></dt>
                <dd>
                    <span>{{ content.bool1 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.bool2">Bool 2</span></dt>
                <dd>
                    <span>{{ content.bool2 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.bool3">Bool 3</span></dt>
                <dd>
                    <span>{{ content.bool3 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.bool4">Bool 4</span></dt>
                <dd>
                    <span>{{ content.bool4 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.bool5">Bool 5</span></dt>
                <dd>
                    <span>{{ content.bool5 }}</span>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.checkScript">Check Script</span></dt>
                <dd>
                    <div *ngIf="content.checkScript">
                        <a [routerLink]="['/check-script', content.checkScript?.id, 'view']">{{ content.checkScript?.scriptName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.flow">Flow</span></dt>
                <dd>
                    <div *ngIf="content.flow">
                        <a [routerLink]="['/flow', content.flow?.id, 'view']">{{ content.flow?.flowName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.task">Task</span></dt>
                <dd>
                    <div *ngIf="content.task">
                        <a [routerLink]="['/task', content.task?.id, 'view']">{{ content.task?.taskName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.taskExecution">Task Execution</span></dt>
                <dd>
                    <div *ngIf="content.taskExecution">
                        <a [routerLink]="['/task-execution', content.taskExecution?.id, 'view']">{{ content.taskExecution?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="zeemonApp.content.flowExecution">Flow Execution</span></dt>
                <dd>
                    <div *ngIf="content.flowExecution">
                        <a [routerLink]="['/flow-execution', content.flowExecution?.id, 'view']">{{ content.flowExecution?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/content', content.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
