<div>
    <h2 id="page-heading">
        <span jhiTranslate="zeemonApp.taskExecution.home.title">Task Executions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-task-execution" [routerLink]="['/task-execution/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="zeemonApp.taskExecution.home.createLabel">
            Create a new Task Execution
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="taskExecutions?.length === 0">
        <span jhiTranslate="zeemonApp.taskExecution.home.notFound">No taskExecutions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="taskExecutions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="executionStartTime"><span jhiTranslate="zeemonApp.taskExecution.executionStartTime">Execution Start Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="executionEndTime"><span jhiTranslate="zeemonApp.taskExecution.executionEndTime">Execution End Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="executionStatus"><span jhiTranslate="zeemonApp.taskExecution.executionStatus">Execution Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="task.taskName"><span jhiTranslate="zeemonApp.taskExecution.task">Task</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="flowExecution.id"><span jhiTranslate="zeemonApp.taskExecution.flowExecution">Flow Execution</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let taskExecution of taskExecutions ;trackBy: trackId">
                    <td><a [routerLink]="['/task-execution', taskExecution.id, 'view']">{{ taskExecution.id }}</a></td>
                    <td>{{ taskExecution.executionStartTime | date:'medium' }}</td>
                    <td>{{ taskExecution.executionEndTime | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'zeemonApp.ExecutionStatus.' + taskExecution.executionStatus }}">{{ taskExecution.executionStatus }}</td>
                    <td>
                        <div *ngIf="taskExecution.task">
                            <a [routerLink]="['/task', taskExecution.task?.id, 'view']" >{{ taskExecution.task?.taskName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="taskExecution.flowExecution">
                            <a [routerLink]="['/flow-execution', taskExecution.flowExecution?.id, 'view']" >{{ taskExecution.flowExecution?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/task-execution', taskExecution.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/task-execution', taskExecution.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(taskExecution)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="taskExecutions?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
