<div>
    <h2 id="page-heading">
        <span jhiTranslate="zeemonApp.agent.home.title">Agents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agent" [routerLink]="['/agent/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="zeemonApp.agent.home.createLabel">
            Create a new Agent
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="agents?.length === 0">
        <span jhiTranslate="zeemonApp.agent.home.notFound">No agents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="agents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agentName"><span jhiTranslate="zeemonApp.agent.agentName">Agent Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agentInstanceId"><span jhiTranslate="zeemonApp.agent.agentInstanceId">Agent Instance Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="listenURI"><span jhiTranslate="zeemonApp.agent.listenURI">Listen URI</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agentType"><span jhiTranslate="zeemonApp.agent.agentType">Agent Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agentStatus"><span jhiTranslate="zeemonApp.agent.agentStatus">Agent Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agentDescription"><span jhiTranslate="zeemonApp.agent.agentDescription">Agent Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let agent of agents ;trackBy: trackId">
                    <td><a [routerLink]="['/agent', agent.id, 'view']">{{ agent.id }}</a></td>
                    <td>{{ agent.agentName }}</td>
                    <td>{{ agent.agentInstanceId }}</td>
                    <td>{{ agent.listenURI }}</td>
                    <td jhiTranslate="{{ 'zeemonApp.AgentType.' + agent.agentType }}">{{ agent.agentType }}</td>
                    <td jhiTranslate="{{ 'zeemonApp.AgentStatus.' + agent.agentStatus }}">{{ agent.agentStatus }}</td>
                    <td>{{ agent.agentDescription }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/agent', agent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/agent', agent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(agent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="agents?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
